@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Permanent+Marker&family=Sigmar&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

.semi-transparent {
	color: rgba(255,255,255,0.6);
}

.reel-header > div:nth-child(2) button:hover{
	border-bottom: 2px solid white;
	color: white;
}   

/*per la notifica a pallino rossa*/

.notify {
	position: relative;
}

.notification-dot {
	position: absolute;
	width: 6px;
    height: 6px;
    background: rgb(139, 89, 89);
    border-radius: 50%;
	top: -3px;
    right: -2px;
}

/*---------------------------------*/

.white {
	color: #fff;
}

.lateral-icon-size{
	font-size: 25px;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

img {
	width: 60px;
	height: 60px;
	border-radius: 50px;
}

p{
	font-size: 10px;
	text-align: left;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
    position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
    display: flex;	
	flex-direction:row;
	align-items:center;
	justify-content: space-between;
	padding: 10px; 
	
}
 button {
	
	background-color: transparent;
	border: none;
	padding: 5px; /*distanza*/
	
 }

.reel-header > div:first-child,
.reel-header > div:last-child {
  font-size: 20px;
}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 13px; 
	background: linear-gradient( rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%);

	.son-footer {
	
		display: flex;
		align-items:center;
		justify-content: space-between;
		text-align: center;
		margin-top: 15px;
		padding-top: 12px;
	  
		   .plus {
			font-size: 20px;
			 transform: scaleX(1.4);
		   }
	}
}



/* Sidebar : barra laterale */ 
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items: center;
	gap:10px;
}